build/
.sconsign.dblite
*.csv
*.vtk
*.o
*.out
out/
!coupling/tests/build/
coupling/tests/build_nie/test
coupling/tests/build_nie/out/
coupling/tests/build_couette/test
stuff/
.idea/.gitignore
.idea/.name
.idea/mamico-dev.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/c_cpp_properties.json
.vscode/settings.json
cmake*/
compile_commands.json
coupling/tests/build_couette/*.xml
stuff/
personal_settings
*.so
*.pyc
*.png
coupling/tests/kvs-lbmpy/*.xml
coupling/tests/kvs-lbmpy/*.ini
Doxyfile
doc
