build/
.sconsign.dblite
*.csv
*.vtk
*.vti
*.o
*.out
out/
!coupling/tests/build/
coupling/tests/build_nie/test
coupling/tests/build_nie/out/
coupling/tests/build_couette/test
coupling/tests/build_couette/*.xml
stuff/
personal_settings
*.so
*.pyc
*.png
coupling/tests/kvs-lbmpy/*.xml
coupling/tests/kvs-lbmpy/*.ini
*.old
/usr/local/include/tensorflow/bazel-bin/tensorflow/include/
/usr/local/include/tensorflow/bazel-bin/tensorflow/
/usr/local/include/
~/opt/

