build/
.sconsign.dblite
*.csv
*.vtk
*.o
*.out
out/
!coupling/tests/build/
coupling/tests/build_nie/test
coupling/tests/build_nie/out/
coupling/tests/build_couette/test
coupling/tests/build_couette/*.xml
stuff/
personal_settings
*.so
*.pyc
*.png
*.svg
coupling/tests/kvs-lbmpy/*.xml
coupling/tests/kvs-lbmpy/*.ini
.vscode/c_cpp_properties.json
coupling/tests/build_couette/*.dat
coupling/tests/build_couette/*.restart.dat
coupling/tests/build_couette/*.res
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeCache.txt
.gitignore
.idea/MaMiCo.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/CMakeFiles/cmake.check_cache
